<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductosPortSOAP11Binding"/>
            </basicHttpBinding>
        </bindings>
      <!--
        <client>
            <endpoint address="http://25.5.55.200:8001/soa-infra/services/default/productos/ServiceProductos"
                binding="basicHttpBinding" bindingConfiguration="ProductosPortSOAP11Binding"
                contract="ServiceProductos.ProductosPort" name="ProductosPort_pt" />
        </client>
      -->
        <client>
          <endpoint address="http://ETB2:8088/mockProductosPortSOAP11Binding" binding="basicHttpBinding" bindingConfiguration="ProductosPortSOAP11Binding" contract="ServiceProductos.ProductosPort" name="ProductosPort_pt"/>
        </client>

      </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
