USE [PRODUCTOS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Producto].[Producto]') AND type in (N'U'))
BEGIN
CREATE TABLE [Producto].[Producto](
	[IdProducto] [int] IDENTITY(1125500,1) NOT NULL,
	[CodigoProducto] [nvarchar](32) NOT NULL,
	[NombreProducto] [nvarchar](64) NOT NULL,
	[DescripcionProducto] [nvarchar](128) NOT NULL,
	[NombreFabricante] [nvarchar](64) NOT NULL,
	[NombreImagenProducto] [nvarchar](56) NOT NULL,
	[IdSubcategoria] [int] NOT NULL,
	[PrecioUnitario] [numeric](16, 2) NOT NULL,	
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_Producto_CodigoProducto] UNIQUE NONCLUSTERED 
(
	[CodigoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_Producto_DescripcionProducto] UNIQUE NONCLUSTERED 
(
	[DescripcionProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_Producto_NombreImagenProducto] UNIQUE NONCLUSTERED 
(
	[NombreImagenProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_Producto_NombreProducto] UNIQUE NONCLUSTERED 
(
	[NombreProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
