<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductosPortSOAP11Binding" />
                <binding name="ProductosPortSOAP11Binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ETB2:8088/mockProductosPortSOAP11Binding"
                binding="basicHttpBinding" bindingConfiguration="ProductosPortSOAP11Binding"
                contract="ServiceProduct.ProductosPort" name="ProductosPortPort" />
            <endpoint address="http://ETB2:8088/mockProductosPortSOAP11Binding"
                binding="basicHttpBinding" bindingConfiguration="ProductosPortSOAP11Binding1"
                contract="ServiceMierdation.ProductosPort" name="ProductosPortPort1" />
        </client>
    </system.serviceModel>
</configuration>