<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DHLConnectionString" connectionString="Provider=sqloledb; Data Source=ANDRES-HOGAR;Initial Catalog=SONY;Persist Security Info=True;User ID=SONY;Password=sony" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSony" openTimeout="00:59:00" receiveTimeout="00:59:00"
          sendTimeout="00:59:00" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="WcfSony.ServiceSony">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServiceSony"
          name="ServiceSony" contract="WcfSony.IService1" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <!--<defaultDocument>
      <files>
        <clear/>
        <add value="ServiceSony.svc"/>
      </files>
    </defaultDocument>-->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
