<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cnxOracle" connectionString="Password=useroms;User ID=useroms;Data Source=localhost:1521/xe;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CampaniasPortSOAP11Binding" />
                <binding name="portCategoriasSOAP11Binding" />
                <binding name="PortCompraSOAP11Binding" />
                <binding name="PortOrdenSOAP11Binding" />
                <binding name="ProductosPortSOAP11Binding" />
            </basicHttpBinding>
        </bindings>

      <!-- ENDPOINTS DE LOS SERVICIOS EN EL BUS-->

      <client>
        <endpoint address="http://192.168.2.6:7002/OSBKallsonys/ProxyService/ProxyCampanias"
          binding="basicHttpBinding" bindingConfiguration="CampaniasPortSOAP11Binding"
          contract="ServiceCampanias.CampaniasPort" name="CampaniasPort_pt" />

        <endpoint address="http://192.168.2.6:7002/OSBKallsonys/ProxyService/ProxyCategorias"
          binding="basicHttpBinding" bindingConfiguration="portCategoriasSOAP11Binding"
          contract="ServiceCategorias.portCategorias" name="portCategorias_pt" />

        <endpoint address="http://192.168.2.6:7002/OSBKallsonys/ProxyService/ProxyCompra"
          binding="basicHttpBinding" bindingConfiguration="PortCompraSOAP11Binding"
          contract="ServiceCompra.PortCompra" name="PortCompra_pt" />

        <!--<endpoint address="http://192.168.2.6:7002/OSBKallsonys/ProxyService/ProxyOrdenes"
          binding="basicHttpBinding" bindingConfiguration="PortOrdenSOAP11Binding"
          contract="ServiceOrdenes.PortOrden" name="PortOrden_pt" />-->

        <endpoint address="http://192.168.2.6:8001/soa-infra/services/default/ProjectConsultaOrdenes/ServiceConsultaOrden"
          binding="basicHttpBinding" bindingConfiguration="PortOrdenSOAP11Binding"
          contract="ServiceOrdenes.PortOrden" name="PortOrden_pt" />

        <endpoint address="http://192.168.2.6:7002/OSBKallsonys/ProxyService/ProxyProductos"
          binding="basicHttpBinding" bindingConfiguration="ProductosPortSOAP11Binding"
          contract="ServiceProductos.ProductosPort" name="ProductosPort_pt" />
      </client>


      <!-- ENDPOINTS DE LOS SERVICIOS EN EL SOAP UI -->
      <!--
    <client>
      <endpoint address="http://localhost:8088/mockCampaniasPortSOAP11Binding"
        binding="basicHttpBinding" bindingConfiguration="CampaniasPortSOAP11Binding"
        contract="ServiceCampanias.CampaniasPort" name="CampaniasPort_pt" />

      <endpoint address="http://localhost:8088/mockportCategoriasSOAP11Binding"
        binding="basicHttpBinding" bindingConfiguration="portCategoriasSOAP11Binding"
        contract="ServiceCategorias.portCategorias" name="portCategorias_pt" />

      <endpoint address="http://localhost:8088/mockPortCompraSOAP11Binding"
        binding="basicHttpBinding" bindingConfiguration="PortCompraSOAP11Binding"
        contract="ServiceCompra.PortCompra" name="PortCompra_pt" />

      <endpoint address="http://localhost:8088/mockPortOrdenSOAP11Binding"
        binding="basicHttpBinding" bindingConfiguration="PortOrdenSOAP11Binding"
        contract="ServiceOrdenes.PortOrden" name="PortOrden_pt" />

      <endpoint address="http://localhost:8088/mockProductosPortSOAP11Binding"
        binding="basicHttpBinding" bindingConfiguration="ProductosPortSOAP11Binding"
        contract="ServiceProductos.ProductosPort" name="ProductosPort_pt" />
    </client>
    -->

    </system.serviceModel>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource"
                    descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
</configuration>