<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CampaniasPortSOAP11Binding" />
                <binding name="PortCompraSOAP11Binding" />
                <binding name="PortOrdenSOAP11Binding" />
                <binding name="portCategoriasSOAP11Binding" />
                <binding name="ProductosPortSOAP11Binding" />
            </basicHttpBinding>
        </bindings>
      <!--
      <client>
      <endpoint address="http://25.5.55.200:8001/soa-infra/services/default/ProjectProductos/ServiceProductos"
          binding="basicHttpBinding" bindingConfiguration="ProductosPortSOAP11Binding"
          contract="ServiceProductos.ProductosPort" name="ProductosPortPort" />

      <endpoint address="http://25.5.55.200:8001/soa-infra/services/default/ProjectCategorias/ServiceCategorias"
        binding="basicHttpBinding" bindingConfiguration="portCategoriasSOAP11Binding"
        contract="ServiceCategorias.portCategorias" name="portCategoriasPort" />

      <endpoint address="http://25.5.55.200:8001/mockCampaniasPortSOAP11Binding"
        binding="basicHttpBinding" bindingConfiguration="CampaniasPortSOAP11Binding"
        contract="ServiceCampanias.CampaniasPort" name="CampaniasPortPort" />

      <endpoint address="http://25.5.55.200:8001/soa-infra/services/default/ProjectCompras/ServiceCompras"
        binding="basicHttpBinding" bindingConfiguration="PortCompraSOAP11Binding"
        contract="ServiceCompra.PortCompra" name="PortCompraPort" />
      
      <endpoint address="http://localhost:8088/mockPortOrdenSOAP11Binding"
          binding="basicHttpBinding" bindingConfiguration="PortOrdenSOAP11Binding"
          contract="ServiceOrdenes.PortOrden" name="PortOrdenPort" />
        
    </client>
      --> 
     
    <!--
      <client>
        <endpoint address="http://localhost:8088/mockportCategoriasSOAP11Binding"
          binding="basicHttpBinding" bindingConfiguration="portCategoriasSOAP11Binding"
          contract="ServiceCategorias.portCategorias" name="portCategoriasPort" />
        <endpoint address="http://localhost:8088/mockPortCompraSOAP11Binding"
          binding="basicHttpBinding" bindingConfiguration="PortCompraSOAP11Binding"
          contract="ServiceCompra.PortCompra" name="PortCompraPort" />
        <endpoint address="http://localhost:8088/mockProductosPortSOAP11Binding"
          binding="basicHttpBinding" bindingConfiguration="ProductosPortSOAP11Binding"
          contract="ServiceProductos.ProductosPort" name="ProductosPortPort" />
        <endpoint address="http://acxp01:8088/mockCampaniasPortSOAP11Binding"
          binding="basicHttpBinding" bindingConfiguration="CampaniasPortSOAP11Binding"
          contract="ServiceCampanias.CampaniasPort" name="CampaniasPortPort" />
        <endpoint address="http://acxp01:8088/mockPortOrdenSOAP11Binding"
          binding="basicHttpBinding" bindingConfiguration="PortOrdenSOAP11Binding"
          contract="ServiceOrdenes.PortOrden" name="PortOrdenPort" />
      </client>
      -->

      <client>
        <endpoint address="http://localhost:8001/soa-infra/services/default/ProjectProductos/ServiceProductos"
          binding="basicHttpBinding" bindingConfiguration="ProductosPortSOAP11Binding"
          contract="ServiceProductos.ProductosPort" name="ProductosPortPort" />

        <endpoint address="http://localhost:8001/soa-infra/services/default/ProjectCategorias/ServiceCategorias"
          binding="basicHttpBinding" bindingConfiguration="portCategoriasSOAP11Binding"
          contract="ServiceCategorias.portCategorias" name="portCategoriasPort" />

        <endpoint address="http://localhost:8001/soa-infra/services/default/ProjectCompras/ServiceCompras"
        binding="basicHttpBinding" bindingConfiguration="PortCompraSOAP11Binding"
        contract="ServiceCompra.PortCompra" name="PortCompraPort" />

        <endpoint address="http://localhost:7002//OSBKallsonys/ProxyService/ProxyCampanias"
          binding="basicHttpBinding" bindingConfiguration="CampaniasPortSOAP11Binding"
          contract="ServiceCampanias.CampaniasPort" name="CampaniasPortPort" />
        <endpoint address="http://localhost:8088/mockPortOrdenSOAP11Binding"
          binding="basicHttpBinding" bindingConfiguration="PortOrdenSOAP11Binding"
          contract="ServiceOrdenes.PortOrden" name="PortOrdenPort" />
      </client>
      
    </system.serviceModel>
</configuration>